.footer {
  padding-bottom: 5rem;
  padding-top: 5rem;
  .container {
    padding: 40px;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  p {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 0.5);

    text-align: center;
  }
}


@media(max-width: 840px){
  .footer{
    padding-top: 0;
  }
}