html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: #100f16;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main .absolute {
  position: absolute;
  z-index: -1;
}
main .blur1 {
  top: -500px;
  right: -450px;
}

.container {
  max-width: 1152px;
  padding: 0 32px;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 10px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(40px);
  transition: 0.5s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  z-index: 100;
}
.header.active {
  transform: translateY(0px);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background: rgba(3, 9, 23, 0.01);
  padding: 10px 0;
  border-top: 1px solid #12192b;
  border-bottom: 1px solid #12192b;
}
.header .container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
.header ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.header ul li a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
.header ul li a::after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0%;
  height: 1px;
  left: 0;
  bottom: -3px;
  display: block;
  background: linear-gradient(90deg, #79f1e8 0%, #00619b 144.21%);
}
.header ul li a:hover::after {
  width: 100%;
}

@media (max-width: 600px) {
  .header img {
    width: 30px;
  }
  .header nav {
    display: none;
  }
}
#hero {
  padding-top: 12.625rem;
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding-bottom: 5rem;
}
#hero .scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -100px;
}
#hero .scroll h6 {
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  color: #fff;
  margin-top: 8px;
}
#hero .absolute {
  position: absolute;
  z-index: -1;
}
#hero .hero__text {
  max-width: 33.875rem;
}
#hero .hero__text a {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #1d1d1d;
  width: 11.8125rem;
  height: 3rem;
  background: linear-gradient(90deg, #79f1e8 0%, #00619b 144.21%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}
#hero .hero__text a:hover {
  opacity: 0.8;
}
#hero .hero__text p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #ffffff;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
#hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
#hero .hero__tag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 0.625rem;
  color: #1d1d1d;
  background: linear-gradient(90deg, #79f1e8 0%, #00619b 144.21%);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  max-width: -moz-max-content;
  max-width: max-content;
}
#hero h1 {
  margin-top: 2.5rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #ffffff;
}
#hero h1 strong {
  background: linear-gradient(90deg, #79f1e8 0%, #02639c 73.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#label3--inject-1,
#label2--inject-1,
#label1--inject-1,
#label4--inject-1,
#label5--inject-1,
#label6--inject-1,
#label7--inject-1,
#label8--inject-1,
#label9--inject-1 {
  animation: opacityLabels 3s linear infinite;
}

#blue_line1--inject-1,
#colchete2--inject-1,
#colchete1--inject-1,
#blue_line2--inject-1 {
  animation: moveForFront 3s linear infinite;
}

.hero__line {
  animation: line1 4s ease 0s infinite;
  opacity: 0;
  top: 50%;
}

.hero__line2 {
  animation: line2 4s ease 1s infinite;
  opacity: 0;
  left: 50%;
}

@keyframes line1 {
  0%, 45% {
    opacity: 0;
    transform: translate3d(-1800px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-1800px, 0, 0);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100vw, 0, 0);
    opacity: 0;
  }
}
@keyframes line2 {
  0%, 45% {
    opacity: 0;
    transform: translate3d(0, 1500px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 1500px, 0);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -1500px, 0);
    opacity: 0;
  }
}
#scroll--inject-22--inject-2 {
  animation: icon-scroll 2s linear infinite;
  stroke-dasharray: 10 50;
}

@keyframes moveForFront {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes opacityLabels {
  0% {
    opacity: 0.01;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.01;
  }
}
@keyframes icon-scroll {
  0%, 5% {
    stroke-dashoffset: 20;
  }
  95%, 100% {
    stroke-dashoffset: -20;
  }
}
@media (min-width: 1600px) {
  #hero .scroll {
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  #hero .container {
    flex-direction: column;
  }
  #hero .container .hero__text {
    max-width: 100%;
    text-align: center;
  }
  #hero .container .hero__text a {
    margin: 0 auto;
  }
  .hero__image {
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    width: 300px;
  }
  .hero__image svg {
    width: 100%;
  }
  #hero .scroll {
    display: none;
  }
}
@media (max-width: 600px) {
  #hero .scroll {
    display: flex;
    margin-top: 50px;
  }
  .hero__image {
    display: none;
  }
  #hero {
    padding-top: 6.625rem;
  }
}
#sobre {
  position: relative;
  padding: 5rem 0;
}
#sobre .blur2 {
  left: -31.25rem;
  top: -16.25rem;
}
#sobre .tag {
  padding: 0.5625rem 1.1875rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgba(255, 255, 255, 0.51);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}
#sobre .sobreMim__container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#sobre .sobreMim__text {
  max-width: 30rem;
  background: rgba(255, 255, 255, 0.19);
  border: 2px solid rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 1.5rem;
  height: -moz-max-content;
  height: max-content;
}
#sobre .sobreMim__text h2 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #ffffff;
  margin-bottom: 1.75rem;
}
#sobre .sobreMim__text h2 strong {
  font-weight: 700;
  background: linear-gradient(90deg, #78f0e8 46.95%, #278fb4 82.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#sobre .sobreMim__text p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 30px;
  color: #ffffff;
}
#sobre .sobreMim__text p a {
  color: #79f1e8;
}

@media (max-width: 1500px) {
  #sobre {
    padding-top: 0;
  }
}
@media (max-width: 918px) {
  #sobre .sobreMim__container {
    flex-direction: column;
    gap: 1.5rem;
  }
  #sobre .sobreMim__text {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  #sobre {
    padding-top: 4rem;
  }
  .sobreMim__container img {
    width: 100%;
  }
}
#habilidades {
  padding: 5rem 0;
  display: block;
  height: 200vh;
  position: relative;
}
#habilidades .blur3 {
  right: -30rem;
  top: -25rem;
}
#habilidades .blur4 {
  left: -31.25rem;
  top: 50rem;
}
#habilidades .container {
  position: sticky;
  top: 180px;
}
#habilidades .tag {
  padding: 0.5625rem 1.1875rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgba(255, 255, 255, 0.51);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}
#habilidades .habilidades__container {
  margin-top: 3.5rem;
  gap: 16px;
  display: flex;
  justify-content: space-between;
}
#habilidades .habilidades__cards {
  width: 441px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#habilidades .description {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #9ea0a3;
  max-width: 544px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: 0.3s;
}
#habilidades .description strong {
  font-weight: 700;
  color: #fff;
}
#habilidades .description.active {
  opacity: 1;
  pointer-events: all;
}
#habilidades .habilidades__cards .card {
  padding: 24px;
  background: #131d3a;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
#habilidades .habilidades__cards .card h2 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #ffffff;
}
#habilidades .habilidades__cards .card p {
  margin-top: 16px;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.5);
}
#habilidades .habilidades__cards .card.active {
  z-index: 1;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.36), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.258788), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.214599), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.18), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.145401), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.101212);
}
#habilidades .habilidades__cards .card.active h2 {
  color: #79f1e8;
}

#habilidades .habilidades__cards.mobile {
  display: none;
}

@media (max-width: 1046px) {
  #habilidades {
    height: auto;
    padding-top: 2.5rem;
  }
  #habilidades .habilidades__cards.desktop {
    display: none;
  }
  #habilidades .habilidades__cards.mobile {
    display: flex;
  }
  #habilidades .habilidades__container {
    flex-direction: column;
  }
  #habilidades .description {
    position: relative;
  }
  #habilidades .description {
    opacity: 1;
    pointer-events: all;
  }
  #habilidades .habilidades__cards {
    width: 100%;
  }
  #habilidades .habilidades__cards .card.active {
    box-shadow: none;
  }
  #habilidades .description {
    max-width: 100%;
  }
  p + .habilidades__cards.mobile {
    margin-top: 2rem;
  }
  #habilidades .habilidades__cards .card.active h2 {
    color: #fff;
  }
  #habilidades .habilidades__cards .card p {
    line-height: auto;
  }
}
#projetos {
  padding: 5rem 0;
  position: relative;
}
#projetos .blur5 {
  right: -31.25rem;
  top: -25rem;
}
#projetos .tag {
  padding: 0.5625rem 1.1875rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgba(255, 255, 255, 0.51);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}
#projetos .interagir {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
#projetos .interagir p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #9ea0a3;
}
#projetos .options {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  height: 400px;
  gap: 10px;
}
#projetos .option {
  border: 2px solid #79f1e8;
  position: relative;
  overflow: hidden;
  width: 75px;
  background-image: var(--optionBackground);
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#projetos .option.active {
  border-radius: 10px;
  width: 100%;
  background-position: bottom;
}
#projetos .option.active .label {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
#projetos .option:not(.active) {
  width: 75px;
  border-radius: 10px;
  border: 2px solid #79f1e8;
}
#projetos .label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 13px 24px;
  transition: 0.3s;
}
#projetos .label .icon {
  margin-left: -6px;
}
#projetos .label .main {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  top: -10px;
  left: -6px;
}
#projetos .label .main::after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0%;
  height: 1px;
  left: 0;
  bottom: -3px;
  display: block;
  background: linear-gradient(90deg, #79f1e8 0%, #00619b 144.21%);
}
#projetos .label .main:hover::after {
  width: 100%;
}
#projetos .label a {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

@media (max-width: 768px) {
  #projetos .options {
    height: auto;
    flex-direction: column;
    gap: 24px;
  }
  #projetos {
    padding: 2.5rem 0;
  }
  #projetos .option,
  #projetos .option:not(.active),
  #projetos .option.active {
    height: 192px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
  }
  #projetos .label {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  }
  #projetos .label .main {
    position: initial;
    left: 0;
    width: auto;
  }
}
#contato {
  padding: 5rem 0;
  position: relative;
}
#contato .tag {
  padding: 0.5625rem 1.1875rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgba(255, 255, 255, 0.51);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}
#contato .blur6 {
  left: -33rem;
  top: -14rem;
}
#contato h2 {
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #ffffff;
}
#contato .contato__container div > span {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #9ea0a3;
  margin-bottom: 4rem;
  display: block;
}
#contato .socialMedias {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contato .socialMedias a {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
  width: 18.875rem;
  height: 3.5625rem;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding-left: 1.5rem;
  transition: 0.3s;
}
#contato .socialMedias a:hover {
  background: #131d3a;
  border: 1px solid #79f1e8;
}
#contato .contato__container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
#contato form {
  width: 28.0625rem;
  padding: 2rem 1.5rem;
  background: #100f16;
  border: 1px solid #131d3a;
  box-shadow: 0px 17px 80px rgba(73, 81, 255, 0.25);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#contato form label {
  display: flex;
  flex-direction: column;
  position: relative;
}
#contato form label span {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
  display: block;
  margin-bottom: 0.75rem;
}
#contato form label .box_input svg {
  position: absolute;
  bottom: 11px;
  left: 1rem;
  transition: 0.3s;
}
#contato form label input {
  width: 100%;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #ffffff;
  border-radius: 3px;
  height: 3rem;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
  outline: none;
  transition: 0.3s;
  padding-left: 3.5rem;
}
#contato form label input:focus {
  border: 1px solid #79f1e8;
}
#contato form label input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#contato form label input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#contato form label svg path {
  transition: 0.3s;
}
#contato form label input:focus + svg {
  opacity: #79f1e8;
}
#contato form label input:focus + svg path {
  fill: #79f1e8;
}
#contato textarea {
  padding: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 11.875rem;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff;
  outline: none;
  transition: 0.3s;
}
#contato textarea:focus {
  border: 1px solid #79f1e8;
}
#contato textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#contato textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#contato button {
  width: 100%;
  height: 3rem;
  background: linear-gradient(90deg, #79f1e8 0%, #00619b 144.21%);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #1d1d1d;
  cursor: pointer;
  transition: 0.3s;
}
#contato button:hover {
  background: linear-gradient(90deg, #79f1e8 0%, #00619b 100%);
}

@media (max-width: 840px) {
  #contato .contato__container {
    flex-direction: column;
  }
  #contato .socialMedias {
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 24px;
  }
  #contato form {
    width: 100%;
  }
  #contato .socialMedias a {
    width: 100%;
    background: #131d3a;
    border: 1px solid #79f1e8;
  }
}
.footer {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.footer .container {
  padding: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.footer p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

@media (max-width: 840px) {
  .footer {
    padding-top: 0;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
}
@media (max-width: 1100px) {
  main {
    contain: paint;
  }
}/*# sourceMappingURL=main.css.map */