@mixin tagSection() {
  padding: 0.5625rem 1.1875rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgba(255, 255, 255, 0.51);

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  max-width: max-content;
}
